# Node modules
node_modules/

# Environment files
.env
.env.production
*.env
.env.development
# Logs
*.log
logs/

# Uploaded files 
uploads/
public/uploads/

# Cache
.cache/
coverage/

# IDE files
.vscode/
.idea/
server/.env
server/.env
